/* Tipografia Montserrat Header */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Tipografia Open Sans Sub-Titulos */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Tipografia Source Sans Body  */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --color--primary: #1b1b1b;
  --color--secundary: #ffd60a;
  --color--accent: #e63946;
  --color--parrafo: #ffffff;
  --color--degradado: linear-gradient(90deg, #e63946 0%, #ffd60a 100%);
  --text--header: "Montserrat", sans-serif;
  --text--subHeader: "Open Sans", sans-serif;
  --text--body: "Source Sans 3", sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--text--header);
}

h4,
h5,
h6 {
  font-family: var(--text--subHeader);
}

button {
  font-family: var(--text--subHeader);
  background-color: var(--color--accent);
}

body {
  font-family: var(--text--body);
  background-color: var(--color--primary);
}

a {
  font-family: var(--text--header);
  font-weight: 700;
  color: var(--color--parrafo);
  text-decoration: none;
}

/* Clases HEADER */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color--parrafo);
}

.logo img {
  max-height: 50px;
  display: block;
}

.logo span {
  background: var(--color--degradado);
  /* Aclaracion: 
  -webkit-background-clip: text → recorta el fondo al área del texto.
  -webkit-text-fill-color: transparent → hace el texto “transparente” para que se vea el degradado en lugar de un color sólido. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--text--header);
}

.main-list {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
  padding: 30px;
  list-style: none;
}

.main-list li {
  list-style: none;
}

.main-list li a:hover {
  color: var(--color--secundary);
}
